<!DOCTYPE html>
<meta charset="utf-8">

<!-- import D3.js -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="static/call_graph.js"></script>
<script src="static/render_sense_graph.js"></script>

<style>
.target {
	font-family: sans-serif;
	font-size: 15px;
	fill: lightgrey;
	stroke: black;
	stroke-width: 0px;
}
text {
	font-family: sans-serif;
	font-size: 10px;
	fill: black;
	stroke: black;
	stroke-width: 0px;
}
.selected {
	stroke: red;
	stroke-width: 1px;
}
</style>
<body>
<!-- better get the data directly from the db! -> flexible -->
<form>
<div id="app">
<div class="parameter_input">
	<div class="target_word_input">
		I want to explore the word senses of: <br>
		<input type="search" name="target_word">
	</div>
	<div class="start_year">
		Starting at year: <br>
		<input type="radio" name="start_year" value=1520> 1520 <br>
		<input type="radio" name="start_year" value=1909> 1909 <br>
		<input type="radio" name="start_year" value=1954> 1954 <br>
		<input type="radio" name="start_year" value=1973> 1973 <br>
		<input type="radio" name="start_year" value=1987> 1987 <br>
		<input type="radio" name="start_year" value=1996> 1996 <br>
		<input type="radio" name="start_year" value=2002> 2002 <br>
		<input type="radio" name="start_year" value=2006> 2006
	</div>
	<div class="end_year">
		Ending at year: <br>
		<input type="radio" name="end_year" value=1908> 1908 <br>
		<input type="radio" name="end_year" value=1953> 1953 <br>
		<input type="radio" name="end_year" value=1972> 1972 <br>
		<input type="radio" name="end_year" value=1986> 1986 <br>
		<input type="radio" name="end_year" value=1995> 1995 <br>
		<input type="radio" name="end_year" value=2001> 2001 <br>
		<input type="radio" name="end_year" value=2005> 2005 <br>
		<input type="radio" name="end_year" value=2008> 2008
	</div>
	<div class="direct_neighbours">
		How many direct senses: <br>
		<input type="number" name="direct_neighbours">
	</div>
	<div class="density">
		Maximal number of edges from each node: <br>
		<input type="number" name="density">
	</div>
	<div class="mode">
		<input type="radio" name="mode" value=False> Sense Clusters (CW) <br>
		<input type="radio" name="mode" value=True> Time diff
	</div>
	<div class="submit">
		<input type="button" onclick="call_graph()" value="Render Graph">
	</div>
</div>
</form>
</div>
</body>