text {
	font-family: sans-serif;
	font-size: 10px;
	stroke-width: 0px;
}
.selected {
	stroke: #E34234;
	stroke-width: 2.5px;
}

.input_options {
	font: sans-serif;
	font-size: 12px;
	text-align: left;
	/*word-spacing: -10px;*/
	background: #343a40;
	color: white;
	width: 80%;
}

.body {
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.input {
	padding-top: 0ex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.show-nodes-button {
	font-size: 10px;
	padding: 0.5ex;
	margin-left: 5ex;
}


.lrmargin_button {
	margin-right: 5px;
	margin-left: 5px;
	
}

.search_button {
	display: block;
	float: right;
	text-align: center;
	/*font-size: 10px;*/
}


#restart_button {
	display: block;
	/*float: right;*/
	text-align: center;
	/*font-size: 10px;*/
	/*word-spacing: -10px;*/
	/*margin-right: 10px;*/
	margin-left: 5px;
}

#reset_zoom_button {
	margin-top: 10px;
	margin-bottom: 10px;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
	margin-left: 5px;
}

#centralityDD {
	display:block;
	float: right;
	text-align: center;
	/*word-spacing: -10px;*/
	/*margin-right: 10px;*/
	margin-left: 5px;
}

#centralityDD__BV_toggle_ {
	font-size: 10px;
}

#wobblyCandidatesDD {
	display:block;
	float: right;
	text-align: center;
	/*word-spacing: -10px;*/
	/*margin-right: 10px;*/
	margin-left: 5px;
}

#wobblyCandidatesCC__BV_toggle_ {
	font-size: 10px;
}

#edit_mask_button {
	display: block;
	float: right;
	text-align: center;
	font-size: 10px;
	/*word-spacing: -10px;*/
	/*margin-right: 10px;*/
	margin-left: 5px;
	visibility: hidden;
}

#render_button {
	margin-top: 10px;
	text-align: center;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
}


#add_update_button {
	margin-top: 10px;
	text-align: center;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
}

#update_button {
	margin-top: 10px;
	text-align: center;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
}

#singleton_button {
	margin-top: 10px;
	/*font-size: 12px;*/
}

#render_file_button {
	margin-top: 10px;
	margin-bottom: 10px;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
}

#general_settings_button {
	margin-top: 10px;
	margin-bottom: 10px;
	/*word-spacing: -10px;*/
	font-size: 10px;
	margin-left: 5px;
}

#cancel_button {
	margin-top: 10px;
	margin-bottom: 10px;
	/*word-spacing: -10px;*/
	/*font-size: 10px;*/
}

#skip_through_button {
	margin-top: 10px;
	font-size: 10px;
}

#show_diff_button {
	margin-top: 10px;
	font-size: 10px;
}

#file_input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#loadpopup {
	display: none;
}

#time_diff_card {
	width: 100%;
	font-size: 10pt;
	color: black;
}


#nodeOptionsDD {
	display: block;
	float: right;
	text-align: center;
}

#nodeOptionsDD__BV_toggle_ {
	font-size: 10px;
}


.interval_input {
	width: 100px;
}

.form-popup {
	display: none;
	position: fixed;
	top: 60px;
	right: 10px;
	border: 1px solid #343a40;
	max-width: 300px;
	padding: 10px;
	background-color: lightgrey;
	/*word-spacing: -10px;*/
	font-size: 12px;
}


.edit_cluster_textbox {
	font-size: 10px;
	max-height: 70vh;
	overflow: auto;
	color: black;
}

.edit_clusters {
	font: sans-serif;
	font-size: 12px;
	text-align: left;
	/*word-spacing: -10px;*/
	background: #343a40;
	/*background: #6c757d;*/
	/*background: #d9d9d9;*/
	color: white;
	width: 80%;
	display: block;
}

.close_button{
	/*font-size: 10px;*/
	display: block;
	float: right;
}

.settings_button {
	padding-top: 10px;
}

.bigger_font {
	font-size: 12px;
}

.color-select {
	float: left;
	margin-left: 0px;
}

.clustername {
	display: block;
	margin-left: 10px;
}

.dot {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.dot-sm {
	border-radius: 50%;
	text-align: bottom;
	margin-right: 10px;
	display: inline;
}

.edit_button {
	font-size: 10px;
	float: left;
	display: block !important;
	/*padding: 2px;*/
	margin-top: 5px;
}

#editNameMask {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

#accordion {
	font-size:10px;
	/*padding: 2px;*/
	margin-left: 2px;
	margin-top: 5px;
	float: left;
	display: block !important;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
	display: none;
}

.input_cluster {
	/*margin-top: 5px;*/
	max-width: 200px;
	font-size: 10px;
	display: block;
	float: left;
}

.dropdown-item {
	font-size: 10px;
	position: relative;
	z-index: 1000;
}

.overflow {
	overflow: auto;
}

.cluster_nodes {
	display: none;
}

.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
:root{
	overflow: hidden;
}