<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>SCoT - Sense Clustering over Time</title>

	<!-- D3 and vue.js -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script type="text/javascript" src=".%% url_for('static', filename='render_sense_graph.js') %%"></script>
	<script type="text/javascript" src=".%% url_for('static', filename='update_graph.js') %%"></script>

	 <!-- Stylesheets -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
	<link rel= "stylesheet" type= "text/css" href=".%% url_for('static', filename='style.css') %%"/>

	<!-- Bootstrap Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
<div id="vue-app">
<b-container id="body-container" class="body" fluid>
	<b-navbar type="dark" variant="dark" class="">
		<b-navbar-brand tag="h1" class="header">SCoT senseviewer</b-navbar-brand>
		<b-navbar-nav class="ml-auto">
		<b-nav-form>
			<!--<b-button v-if="graph_rendered" id="restart_button" v-on:click="restart_sim"> Restart Simulation</b-button>-->
			<b-button v-if="graph_rendered" id="recluster_button" v-on:click="recluster()"> Recluster</b-button>
			<b-button v-if="graph_rendered" id="edit_mask_button" v-on:click="showEditMask()">Edit Graph</b-button>
			<b-button v-if="graph_rendered" id="reset_zoom_button" v-on:click="resetZoom()">Reset Zoom</b-button>
		</b-nav-form>
		<b-nav-form>
			<b-button id="download_button" variant="success" v-on:click="saveGraph()" download="graph.json" href="">Save Graph</b-button>
			<b-button id="load_button" variant="danger" v-on:click="displayForm()">Load Graph</b-button>
		</b-nav-form>
	</b-navbar-nav>
	</b-navbar>

  <b-row id="rows">

    <b-col id="input-options" class="input_options" sm="2">

    	<b-form-group class="input" label="Enter target word">  
			<b-form-input v-model="target_word" placeholder="target word" size="sm"></b-form-input>
		</b-form-group>

		<b-form-group class="input" label="Number of neighbours">  
			<b-form-input type="number" v-model="senses" min="0" placeholder="number of neighbours" size="sm"></b-form-input>
		</b-form-group>

		<b-form-group class="input" label="Max. number of edges per node">  
			<b-form-input type="number" v-model="edges" min="0" placeholder="number of edges" size="sm"></b-form-input>
		</b-form-group>

		<b-form-group class="input" label="Mode" id="select_time_diff">
		    <b-form-radio v-model="time_diff" name="time_diff" v-bind:value="false"> sense clustering (CW) </b-form-radio>
		    <b-form-radio v-model="time_diff" name="time_diff" v-bind:value="true">time diff</b-form-radio>
    	</b-form-group>

    	<b-form-group class="input" label="Select a start year">
			<b-form-select v-model="start_year" :options="start_years" size="sm"></b-form-select>
		</b-from-group>

		<b-form-group class="input" label="Select an end year">
			<b-form-select v-model="end_year" :options="end_years" size="sm"></b-form-select>
		</b-from-group>


    	<b-button id="render_button" v-on:click="render_graph()">Render Graph</b-button>

    	<p>
    		<b-button v-if="graph_rendered" v-b-toggle.collapse-update-1 id="add_update_button"> Update Graph
			</b-button>
		</p>
		<div>
			<b-collapse :id="'collapse-update-1'" class="mt-2">
				<b-card class="input_cluster" style="color: black">
					<b-form-group class="input" label="Number of neighbours">  
						<b-form-input type="number" v-model="update_senses" min="0" placeholder="number of neighbours" size="sm"></b-form-input>
					</b-form-group>

					<b-form-group class="input" label="Max. number of edges per node">  
						<b-form-input type="number" v-model="update_edges" min="0" placeholder="number of edges" size="sm"></b-form-input>
					</b-form-group>

					<p>
			    		<b-button id="update_button"> Update
						</b-button>
					</p>		
				</b-card>
			</b-collapse>
    	</div>


    </b-col>

    <b-col id="graph_display" sm="8">
    	 <b-card v-if="time_diff" id="time_diff_card">
    		Select an interval for time diff:
    		<div> {{start_year}} - 
			<b-form-select v-model="interval_start" class="interval_input" size="sm">
			<option  v-for="s in reducedStartYears"> {{ s.text }} </option> 
			</b-form-select>
			- 
			<b-form-select v-model="interval_end" class="interval_input" size="sm">
			<option  v-for="e in reducedEndYears"> {{ e.text }} </option> 
			</b-form-select>
			- {{end_year}}

    		<b-button v-on:click="show_time_diff" id="time_diff_button">  Show difference </b-button>
    		</div>

    		<div>
	    		<b-form-group label="Skip through time slices"> 
	    			{{ time_slice_from_interval }}
		    		<b-form-input id="range_time_slices" v-model="interval_id" type="range" v-bind:min="min_time_id" v-bind:max="max_time_id" v-on:change="skip_through_time_slices"></b-form-input>
		    	</b-form-group>
	    	</div>
    	</b-card>
    	<div id="graph2"></div>


    </b-col>


    <b-col class="edit_clusters col-auto" id="edit_clusters_popup" sm="2">

    	<!--<b-card v-if="graph_rendered" class="edit_clusters_card" id="edit_clusters_popup" header="Edit cluster settings" footer-tag="footer"> -->

    		<b-form-group id="sticky" class="input" label="Dragging">
		    <b-form-radio name="sticky_mode" value="false" v-model="sticky_mode"> Enable brush and single node movement </b-form-radio>
		    <b-form-radio name="sticky_mode" value="true" v-model="sticky_mode"> Keep force for dragging (no brush available) </b-form-radio>
	    	</b-form-group>

	    	<b-form-group label="Charge strength (-500, 500)">
	    		<b-form-input id="range_charge" v-model="charge" type="range" min="-500" max="500"></b-form-input>
	    	</b-form-group>

	    	<b-form-group label="Link Distance (0, 1000)">
	    		<b-form-input id="range_linkdistance" v-model="linkdistance" type="range" min="0" max="1000"></b-form-input>
	    	</b-form-group>

    		<!--<b-card-text class="edit_cluster_textbox">-->
    		<div class="edit_cluster_textbox">
    			<b-list-group v-for="(cluster, index) in clusters" :key="index">
					<b-list-group-item class="list-item">
						<div class="overflow">
							<div class="clustername">
								<span class="dot" 
								v-bind:style="{ 'background-color': cluster.colour }"
								v-on:mouseover="set_cluster_opacity(cluster, 0.2, 0.2)"
								v-on:mouseout="set_cluster_opacity(cluster, 1.0, 0.6)"></span>
								Cluster: <span class="bigger_font">{{ cluster.cluster_name }} </span>
								<p> Number of nodes: {{cluster.labels.length}} </p>
							</div>
							
							<p>
								<b-button v-b-toggle="'collapse-edit-' + index" id="edit_button" class="edit_button"> Edit </b-button>
								<b-button v-b-toggle="'collapse-nodes-' + index" id="accordion"> Nodes
									<span class="when-opened"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
	      							<span class="when-closed"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
								</b-button>
							</p>

							<p>
								<b-collapse :id="'collapse-edit-' + index" class="mt-2"  aria-expanded="false">
									<b-card class="input_cluster">
									<b-form-group label="cluster name"> 
										<b-form-input v-model="cluster.cluster_name" size="sm"></b-form-input>
									</b-form-group>
									<b-form-group>
										<b-form-checkbox
									      v-model="cluster.add_cluster_node"
									      value="true"
									      unchecked-value="false"
									    >
									      Show cluster label in graph
									    </b-form-checkbox>
									</b-form-group>
									<b-form-group label="Select cluster colour">
										<b-form-input class="color-select" v-model="cluster.colour" type="color" :value="cluster.colour"> </b-form-input>
									</b-form-group>
									</b-card>
								</b-collapse>
							</p>
							
							<div>
								<b-collapse :id="'collapse-nodes-' + index" class="mt-2">
									<b-card class="input_cluster">
										<div v-for="label in cluster.labels"> {{ label.text }}</div>
									</b-card>
								</b-collapse>
							</div>
						</div>
					</b-list-group>
    			</b-list-group>
    		</div>

    		<p>
	    		<b-button v-b-toggle.collapse-singletons-1 id="singleton_button"> Singletons ({{singletons.length}})
					<span class="when-opened"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
					<span class="when-closed"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
				</b-button>
			</p>
			<div>
				<b-collapse :id="'collapse-singletons-1'" class="mt-2">
					<b-card class="input_cluster">
						<div v-for="node in singletons" style="color: black;">{{node}}</div>
					</b-card>
				</b-collapse>
    		</div>
    	
    		<p style="display: block;float: left;">
	    		<b-button id="apply_settings_button" class="close_button" v-on:click="applyClusterSettings()">Apply</b-button>
	    		<b-button class="close_button" variant="danger" v-on:click="closeForm('edit_clusters_popup')">Close</b-button>
    		</p>
    	
    	<!--</b-card> -->
    </b-col>

  </b-row>
  <b-card class="form-popup" id="loadpopup">
			<b-card-text> Select a .json file to render graph from</b-card-text>
			<b-form-file id="file_input" v-model="file" :state="Boolean(file)" placeholder="Choose a file..." drop-placeholder="Drop file here..."> </b-form-file>
			<b-button id="render_file_button" href="#" variant="success" v-on:click="loadGraph()">Render</b-button>
		    <b-button id="cancel_button" href="#" variant="danger" v-on:click="closeForm('loadpopup')">Close</b-button>
	</b-card>
</b-container> 
</div>
<script type="text/javascript" src=".%% url_for('static', filename='vue.js') %%"></script>
</body>

</html>