<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="data-container" style="height: 328px;">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th data-toggle="sort" data-sort-dir="desc" data-type="string" class="sortable sorted sort-asc">
                Bim
                <div class="sort-indicator">
                    <i class="fa fa-caret-down sort-asc"></i>
                    <i class="fa fa-caret-up sort-desc"></i>
                </div></th>
            <th class="text-right sortable" data-toggle="sort" data-sort-dir="asc" data-type="float">
                Score
            </th>
            <th class="text-right sortable sort-asc" data-toggle="sort" data-sort-dir="desc" data-type="float">
                Count
                <div class="sort-indicator">
                    <i class="fa fa-caret-down sort-asc"></i>
                    <i class="fa fa-caret-up sort-desc"></i>
                </div></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="element-caption">zebrafish#NN#conj_and</div>
            </td>
            <td style="text-align:right">40.91</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">your#PRP$#poss</div>
            </td>
            <td style="text-align:right">1791.63</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">young#JJ#amod</div>
            </td>
            <td style="text-align:right">111.19</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">yanagisawa#NP#poss</div>
            </td>
            <td style="text-align:right">79.88</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">x5#NP#nn</div>
            </td>
            <td style="text-align:right">55.25</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">wound#NN#-prep_in</div>
            </td>
            <td style="text-align:right">83.30</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">worm#NN#conj_and</div>
            </td>
            <td style="text-align:right">44.20</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">worm#NN#-conj_and</div>
            </td>
            <td style="text-align:right">54.62</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">works#VB#-prep_in</div>
            </td>
            <td style="text-align:right">40.19</td>
            <td style="text-align:right"></td>
        </tr><tr>
            <td>
                <div class="element-caption">works#VB#-nsubj</div>
            </td>
            <td style="text-align:right">53.72</td>
            <td style="text-align:right"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>