<b-row>
    <b-col sm="4">
        <div class="data-container" style="height: 328px;" >
            <table class="table table-condensed table-hover"  >
                <thead>
                <tr>
                    <th data-toggle="sort" data-sort-dir="asc" data-type="string" class="sortable">
                        Paradigm [Node]
                    </th>
                    <th data-toggle="sort" data-sort-dir="desc" data-type="float" class="text-right sortable">
                        Sim to main
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="token">mouse#NN</td>
                    <td style="text-align:right">746</td>
                </tr>
                <tr>
                    <td class="token" style="color: rgb(31, 119, 180);">rat#NN</td>
                    <td style="text-align:right">192</td>
                </tr>
                <tr>
                    <td class="token" style="color: rgb(31, 119, 180);">rodent#NN</td>
                    <td style="text-align:right">122</td>
                </tr>
                <tr>
                    <td class="token" style="color: rgb(31, 119, 180);">monkey#NN</td>
                    <td style="text-align:right">112</td>
                </tr>
                <tr>
                    <td class="token" style="color: rgb(31, 119, 180);">pig#NN</td>
                    <td style="text-align:right">103</td>
                </tr>
                </tbody>
            </table>
        </div>
    </b-col>
    <b-col sm="4">
        <div class="data-container" style="height: 328px;">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th data-toggle="sort" data-sort-dir="asc" data-type="string" class="sortable">
                        Related Paradigm [Node]
                    </th>
                    <th data-toggle="sort" data-sort-dir="desc" data-type="float" class="text-right sortable">
                        Sim to Para 1
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <div class="element-caption">wound#NN#-prep_in</div>
                    </td>
                    <td style="text-align:right">83.30</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">worm#NN#conj_and</div>
                    </td>
                    <td style="text-align:right">44.20</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">worm#NN#-conj_and</div>
                    </td>
                    <td style="text-align:right">54.62</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">works#VB#-prep_in</div>
                    </td>
                    <td style="text-align:right">40.19</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">works#VB#-nsubj</div>
                    </td>
                    <td style="text-align:right">53.72</td>
                    <td style="text-align:right"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </b-col>
    <b-col sm="4">
        <div class="data-container" style="height: 328px;">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th data-toggle="sort" data-sort-dir="asc" data-type="string" class="sortable">
                        Sim-Context [Edge]

                    <th class="text-right sortable" data-toggle="sort" data-sort-dir="asc" data-type="float">
                        Score
                    </th>
                    <th class="text-right sortable sort-asc" data-toggle="sort" data-sort-dir="desc" data-type="float">
                        Count

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="element-caption">zebrafish#NN#conj_and</div>
                    </td>
                    <td style="text-align:right">40.91</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">your#PRP$#poss</div>
                    </td>
                    <td style="text-align:right">1791.63</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">young#JJ#amod</div>
                    </td>
                    <td style="text-align:right">111.19</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">yanagisawa#NP#poss</div>
                    </td>
                    <td style="text-align:right">79.88</td>
                    <td style="text-align:right"></td>
                </tr><tr>
                    <td>
                        <div class="element-caption">x5#NP#nn</div>
                    </td>
                    <td style="text-align:right">55.25</td>
                    <td style="text-align:right"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </b-col>
</b-row>